# .coveragerc
[report]
show_missing = True

[run]
omit =
    */python?.?/*
    termcolor.py
    sqlite3.py
    sqlite3/dbapi2.py
    */tests*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args 
       
    
